/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* .wrapper {
    width: 100%;
    margin: auto;
} */

/* (1) Header area */
.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.nav h1 a {
    /* font-family: 'Oswald', sans-serif; */
    color: #96746b;
    text-decoration: none;
}

.nav ul {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
}

.nav ul a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
    color: black;
}

/* (2) Banner area */
.banner {
    width: 100%;
    height: 670px;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
}

.banner-text h2 {
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}

/* please add this <span> for words "fresh taste" in HTML */
.banner-text h2 span {
    color: #96746b;
}

.banner-text p {
    color: #fff;
}

.banner-text a {
    color: #fff;
    background-color: #312a26;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 1em;
    display: inline-block;
    margin-top: 1em;
}

/* (3) Ads area */

.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    width: 48.5%;
    height: 350px;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;
}

/* add class name to <div class="ads-items ads-item#"> in HTML --> to add different images*/
.ads-item1 {
    margin-right: 3%;
    background-image: url('../images/ads-img1.jpg');
}

.ads-item2 {
    background-image: url('../images/ads-img2.jpg');
}

.ads-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;
}

.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-text a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 6px #312a26;
    /* display: block; */
    /* margin-top: 1em; */
}

/* (4) Merchandise area */
.merch {
    width: 85%;
    margin: 4em auto;
}

.section-header {
    text-align: center;
}

.section-header span {
    color: #c7a17a;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8){
    margin-right: 0;
}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.merch-items p span {
    text-decoration: line-through;
}

/* (5) Discount area */
.discount {
    width: 85%;
    margin: 4em auto;
    background-image: url('../images/discount-img.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}

.discount-text {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateX(-50%) */
    /* transform: translateY(-50%) */
}

.discount-text span {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: italic;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a {
    color: #312a26;
    background-color: rgba(255, 255, 255, .5);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    padding: 1em;
    display: inline-block;
    margin-top: 1em;
}

/* (7) Ads area */
/* add class name to <div class="ads-items ads-item#"> in HTML --> to add different images*/
.ads-item3 {
    margin-right: 3%;
    background-image: url('../images/ads-img3.jpg');
}

.ads-item4 {
    background-image: url('../images/ads-img4.jpg');
}

.ads-item5 {
    margin-right: 3%;
    background-image: url('../images/ads-img5.jpg');
}

.ads-item6 {
    background-image: url('../images/ads-img6.jpg');
}

/* (8) Reservation area */
.reservation {
    width: 85%;
    margin: 4em auto;
}

form {
    overflow: auto;
}

.form-group {
    margin-top: 2em;
    width: 49.5%;
    height: 650px;
    background-color: #f2f2f2;
    float: left;
    border-radius: 5px;
    padding: 2em;
}

.form-group:nth-child(1) {
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea {
    width: 100%;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}

form label {
    font-weight: 700;
    padding: 0;
    margin-bottom: .5em;
}

.res-time {
    text-align: center;
}

.res-time * {
    width: auto;
}

form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}

form h3 {
    /* margin: 1em; */
    text-align: center;
    text-transform: uppercase;
}

form h3::after {
    content: "";
    width: 150px;
    height: 30px;
    background-image: url('../images/reservation-cards.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.res-agreement * {
    width: auto;
}

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}